---
import Layout from '../layouts/Layout.astro';
import App from '../components/layout/App.tsx';
---

<Layout title="Kyle Chan - Full Stack Developer">
    <main>
        <App client:idle />
    </main>
</Layout>
